<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="SaveAsFilePath" value="C:\\Users\\PF29H7ML\\source\\Test.xlsx"/>
    <add key="DefaultGrade1" value="0"/>
    <add key="DefaultGrade2" value="1"/>
    <add key="Zone" value="Z011"/>
    <add key="ConfigGrades" value="0,1"/>
    <add key="OrderTypeA" value="'Mirakl(COL)','Mirakl(ROL)','JDPreorder','Normal-Preorder','lnwshop','Manual'"/>
    <add key="OrderTypeSP" value="'Shopee'"/>
    <add key="ProcedureName" value="sp_exwms_gen_grade_changed_to_moving_manual"/>
    <add key="UrlChangeGradeAPI" value="http://10.0.177.30/UAT_B2S_NewFW_TaskAPI/api/Task/TransferTask/ChangeGrade"/>    
  </appSettings>
</configuration>